body {
  font-family: 'Poppins', sans-serif;
  font-size: #{$font-size-base}px;
  color: $shark;
}

h1,
.h1 {
  font-size: rem(40);
  font-weight: $font-weight-bold;
  line-height: 120%;
  margin-bottom: rem(8);
  &.large {
    font-size: rem(48);
  }
}

h2,
.h2 {
  font-size: rem(34);
  font-weight: $font-weight-bold;
  line-height: 120%;
  margin-bottom: rem(8);
  &.large {
    font-size: rem(40);
  }
}

h3,
.h3 {
  font-size: rem(30);
  font-weight: $font-weight-bold;
  line-height: 120%;
  margin-bottom: rem(8);
  &.large {
    font-size: rem(34);
  }
}

h4,
.h4 {
  font-size: rem(24);
  font-weight: $font-weight-bold;
  line-height: 120%;
  margin-bottom: rem(8);
}

h5,
.h5 {
  font-size: rem(20);
  font-weight: $font-weight-bold;
  line-height: 130%;
  margin-bottom: rem(8);
}

h6,
.h6 {
  font-size: rem(16);
  font-weight: $font-weight-bold;
  line-height: 140%;
  margin-bottom: rem(8);
}

p {
  font-size: rem(16);
  line-height: 140%;
  margin-bottom: rem(8);
  &.large {
    font-size: rem(22);
  }
}
