// https://css-tricks.com/snippets/sass/mixin-manage-breakpoints/
$breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
);

@mixin breakpoint($breakpoint, $range: 'min') {
  @if map-has-key($breakpoints, $breakpoint) {
    @if $range == 'min' {
      @media (min-width: map-get($breakpoints, $breakpoint)) {
        @content;
      }
    } @else {
      @media (max-width: #{map-get($breakpoints, $breakpoint) - 1}) {
        @content;
      }
    }
  } @else {
    @warn "Breakpoint: $breakpoint is not defined.";
  }
}
