// https://css-tricks.com/snippets/sass/mixin-manage-breakpoints/
$breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
);

@mixin breakpoint($breakpoint) {
  @if map-has-key($breakpoints, $breakpoint) {
    @media (min-width: map-get($breakpoints, $breakpoint)) {
      @content;
    }
  } @else {
    @warn "Breakpoint: $breakpoint is not defined.";
  }
}

// TODO: find a way to have min or max widths
